<h1 class="text-center">Contact Us</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" data-ng-model="contact.name" class="form-control" placeholder="Enter Your Name" required />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" data-ng-model="contact.email" class="form-control" placeholder="Enter Your Email" required />
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea type="text" data-ng-model="contact.message" class="form-control" placeholder="Enter Message" required></textarea>
      </div>
      <button class="btn btn-default" data-ng-click="send()">Send</button>
      
    </div>
  </div>
</div>

<div class="container">
  <h4 class="text-center">We install in the tri-state area: NY and NJ giving you a free quote:</h4><br>
<!--   <h2 class="text-center">Contact Us</h2> -->
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <div class="well row">
        <p>Jeff Check</p>
        <p>201-472-3939</p>
        <p>Ofir Michael</p>
        <p>559-667-7736</p>
      </div>
    </div>
  </div>
</div>
