<div class="container">

  <div class="jumbotron text-center">
    <h1>24X7WATCH</h1>
    <h3>Survelliance over your property, business, and personal</h3>
  </div>
  
  <div style="text-align: center;">
    <iframe align="center" frameborder="0" width="560" height="315" src="https://app.biteable.com/watch/embed/survelliance-1171430"></iframe>
  </div>

   <!--  <img src="assets/images/survelliance.jpg" alt="camera"> -->
<!--   <div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center">
    <iframe align="center" frameborder="0" width="560" height="315" src="https://app.biteable.com/watch/embed/survelliance-1171430"></iframe>
  </div> -->

    
</div>

