 <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class='container'>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a ui-sref="home" class="navbar-brand">
          <i class="fa fa-video-camera" aria-hidden="true"></i>24X7WATCH
        </a>
      </div>
      <div class="collapse navbar-collapse" id="main-nav-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a ui-sref="about">About</a></li>
          <li><a ui-sref="watchlist">Watch List</a></li>
          <li><a ui-sref="installation">Camera Installation</a></li>
<!--           <li>Property Watch</li>
          <li>Personal Watch</li> -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>

