@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background: #004FF9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #004FF9 , #FFF94C); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #004FF9 , #FFF94C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */     
}