<!DOCTYPE html>
<html>
  <head>
    <title>Securityapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="myApp">
 
    <%= yield %>
  </body>
</html>
